<%- include("_header") %>

<div class="blog-wrapper">
  <div class="blog-each">
    <h2>Name</h2>
    <h1>Title</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="blog-button">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="blog-each">
    <h2>Name</h2>
    <h1>Title</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="blog-button">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="blog-each">
    <h2>Name</h2>
    <h1>Title</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="blog-button">
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
</div>

<%- include("_footer") %>
