<%- include("_header") %>
<h1>Favorites</h1>
<div class="favorite-wrapper">
  <div class="favorite-each">
    <h2>Name</h2>
    <h1>Title</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="favorite-button">
      <button>Delete</button>
    </div>
  </div>
  <div class="favorite-each">
    <h2>Name</h2>
    <h1>Title</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="favorite-button">
      <button>Delete</button>
    </div>
  </div>
  <div class="favorite-each">
    <h2>Name</h2>
    <h1>Title</h1>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="favorite-button">
      <button>Delete</button>
    </div>
  </div>
</div>

<%- include("_footer") %>