<%- include("_header") -%>

    <div id="login">
      <form name='form-login'>
          <input type="email"
          name="email"
          required="required"
          placeholder="Email Address"
          class="loginEmail"
          />
       
          <input type="password"
          name="password"
          required="required"
          placeholder="Password"
          class="loginPassword">
        
        <input type="submit" class="button" title="Sign In" value="Login">

</form>
<div class="form-footer">
  <p><a href="/register">Create account</a></p>
</div>
<%- include("_footer") -%>
